/*/
===============
== PROJECT DEFAULTS
===============
/*/

body {
	line-height: 1;
	margin: 0 auto;
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
}

img{
	height: auto;
	width: 100%;
}

*:focus{
	outline: none;
}

/*------------------*/
/*------------------*/
/*------------------*/
